.title {
    // display: block;
    max-width: 100%;
    // height: auto;
    position: absolute;
    top: 0;
    left: 0;
    // margin: 30% 0% 2% 45%;
}

.ERC_logo {
    max-width: 50%;
    // height: auto;
    position: absolute;
    right: 40px;
    top: 450px;
    // margin: 30% 0% 2% 45%;
}

.container {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0%;
    left: 0%;
}