.title {
    height: 100vh; /* height of container */
    width: 100vw; /* width of container */
    @media screen and (max-width:600px) {
        // max-width: 150%;
        width: 100vw; /* width of container */
        height: 100vh; /* height of container */
        object-fit: cover;
        object-position: 27% 10%
    }
    
}

.ERC_logo {
    max-width: 40vw;
    position:absolute;
    right: 5%;
    bottom: 5%;
    @media screen and (max-width:600px) {
        max-width: 95vw;
        position:absolute;
        right: 2.5%;
        bottom: 13%;
    }
}

.container {
    z-index: -10;
    height: fit-content;
    width: 100vw;
    display: block;
    position: relative;
    // margin-top: 5vh;
    // @media screen and (max-width:600px) {
        // margin-top: 0vh;
    // }
}